{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": "off",
    "no-console": "off",
    "semi": 0,
    "react/jsx-filename-extension": 0
  }
}