body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



.c-primary {
  background-color: #fff59d;
  color: #000000;
}

.c-primary-light {
  background-color: #ffffcf;
  color: #000000;
}

.c-primary-dark {
  background-color: #cbc26d;
  color: #000000;
}

.c-secondary {
  background-color: #455a64;
  color: #ffffff;
}

.c-secondary-light {
  background-color: #718792;
  color: #ffffff;
}

.c-secondary-dark {
  background-color: #1c313a;
  color: #ffffff;
}